<mat-card class="max-w-7x1 mx-auto" *ngIf="cart.items.length">

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">productUUID
        <ng-container matColumnDef="product">
          <th mat-header-cell *matHeaderCellDef> Produto:  </th>
          <td mat-cell *matCellDef="let element">
            <img src="{{element.product}}" class="w-[100px] my-5">
        </td>
          <td mat-footer-cell *matFooterCellDef>
        
          </td> 
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Nome: </th>
          <td mat-cell *matCellDef="let element">
            <span class="truncate max-w-x">{{element.name}}</span>
        </td>
          <td mat-footer-cell *matFooterCellDef>
          </td> 
        </ng-container>

        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef> Preço: </th>
          <td mat-cell *matCellDef="let element">
            <span>{{element.price | currency}}</span>
        </td>
          <td mat-footer-cell *matFooterCellDef>
          </td> 
        </ng-container>


        <ng-container matColumnDef="qtd">
          <th mat-header-cell *matHeaderCellDef> Quantidade: </th>
          <td mat-cell *matCellDef="let element">
            <button (click)="decrementQtd(element)" mat-icon-button><mat-icon>remove</mat-icon></button>
            <span style="font-size: 24px;">{{element.qtd}}</span>
            <button (click)="incrementQtd(element)" mat-icon-button><mat-icon>add</mat-icon></button>
        </td>
          <td mat-footer-cell *matFooterCellDef>
          </td> 
        </ng-container>

        <ng-container matColumnDef="total">
          <th mat-header-cell *matHeaderCellDef> Valor Total: </th>
        <td mat-cell *matCellDef="let element">
           <span class="font-bold py-5 block">{{ element.qtd * element.price | currency}}</span>
        </td>
        <td mat-footer-cell *matFooterCellDef>
          <span class="block font-bold py-5">{{calculateTotal(cart.items) | currency}}</span>
        </td>
          <td mat-footer-cell *matFooterCellDef>
          </td> 
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef> 
            <button (click)="clearCart()" mat-raised-button color="warn" class="float-right">
              <mat-icon>restore_from_trash</mat-icon>
            Limpar tudo</button>
          </th>
          <td mat-cell *matCellDef="let element">
            <button mat-mini-fab color="warn" class="float-right"
            (click)="removeItemCart(element)">
              <mat-icon>close</mat-icon>
              </button>
          </td>
            <td mat-footer-cell *matFooterCellDef>
              <button mat-raised-button color="primary" class="float-right">
                Seguir para o checkout
              </button>
           </td>
        </ng-container>
        <ng-container matColumnDef="productUUID">
          <th mat-header-cell *matHeaderCellDef> ID do Produto:  </th>
          <td mat-cell *matCellDef="let element">
          <span class="block">{{element.productUUID}}</span>
        </td>
          <td mat-footer-cell *matFooterCellDef>
            <button mat-raised-button routerLink="/home">Continue comprando
              <mat-icon>add_shopping_cart</mat-icon>
          </button>
          </td> 
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
      </table>
      
      

</mat-card>
<mat-card *ngIf="!cart.items.length">
    <p>Seu carrinho está vazio <button mat-raised-button routerLink="/home">Ir as compras <mat-icon>add_shopping_cart</mat-icon></button></p>
</mat-card>